<div class="container">
  <div class="avatar">
    <img src="https://pps.whatsapp.net/v/t61.24694-24/358157149_1200855697278253_7033404369778123853_n.jpg?ccb=11-4&oh=01_AdR8iTEzPUA9XSAe2MVrQbiK5LmI4HWfabkxTrFG3NO6xQ&oe=64DDA4BF" alt="" />
  </div>
  <div class="menus">
    <img
      src="https://raw.githubusercontent.com/amitping/48/ef883953cfe91e088c3b55b99f45ecdca57e3f5f/group.svg"
      alt="group"
    />
    <img
      src="https://raw.githubusercontent.com/amitping/48/ef883953cfe91e088c3b55b99f45ecdca57e3f5f/status.svg"
      alt="status"
    />
    <img
      src="https://raw.githubusercontent.com/amitping/48/ef883953cfe91e088c3b55b99f45ecdca57e3f5f/message.svg"
      alt="message"
    />
    <img
      src="https://raw.githubusercontent.com/amitping/48/ef883953cfe91e088c3b55b99f45ecdca57e3f5f/menu.svg"
      alt="menu"
    />
  </div>
</div>
